[Unit]
Description=Auto ODM start

[Service]
Type=forking
ExecStart=/usr/local/bin/auto_odm_start.sh /opt/odm/config.json
ExecStop=/usr/local/bin/auto_odm_stop.sh
PIDFile=/tmp/auto_odm_start.pid

[Install]
WantedBy=multi-user.target